/* You can add global styles to this file, and also import other style files */

//IMPORTED THEMES 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html,body{
  width: 100%;
  height: 100%;
  margin: 0;
}